/* Animação de entrada para o nome */
@keyframes fadeTrocaTexto {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animação de entrada para a imagem */
@keyframes fadeInImagem {
    from {
        opacity: 0;
        transform: translateY(35%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Classe que aplica animação de texto */
.animatingTexto {
    animation: fadeTrocaTexto 0.8s ease-out forwards;
}

/* Classe que aplica animação de imagem */
.animatingImagem {
    animation: fadeInImagem 0.8s ease-in-out;
    opacity: 0; /* Inicializa a imagem invisível */
    transform: translateY(0%); /* Inicializa a imagem abaixo da tela */
}