/* Corpo com 100% de height
 body {
  background-color: black;
  color: #fff;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  user-select: none;
} */

.outside {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.skins-c {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: 100%;
  cursor: grab;
  flex-wrap: nowrap;
  touch-action: pan-y;
  scroll-behavior: smooth;
}

.skins-c:active {
  cursor: grabbing;
}

/* Container exterior com 100% de height */
.outer-container {
  position: relative;
  height: 100vh !important;
  flex: 0 0 100vw;
}

#blaze {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(180deg, #081538, #ffffff);; /* Fundo semi-transparente */
  pointer-events: auto;
}

.title-n {
  position: absolute;
  top: 65px;
  left: 5%;
}

.title-n p {
  font-size: clamp(3rem, 7vw, 10rem);
  font-family: Portculliard, Bold !important;
  margin: 0;
  letter-spacing: 0.4rem;
  background: radial-gradient(#111db7, #ff0000);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Container do meio com 100% de largura */
.inner-container {
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: flex-start;
    height: 100%;
    width: 30%;
    align-items: center;
    background: linear-gradient(90deg, #A01A1A 10%, #671024 90%);
}

.ribbon::before {
  position: absolute;
  z-index: -2;
  right: 80%;
  left: 0%;
  top: 100%;
  width: clamp(4vw, 5vw + 1.5px, 25vw);
  height: 100%;
  background-color: #7e0101;
  content: ''; /* Garantindo que fique atrás */
  clip-path: polygon(0 0, 100% 100%, 100% 0);
}

.inner-container::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    border-width: 0px 2px 0px 2px;
    border-color: #ddb100;
    border-style: solid;
    left: 50%;
    transform: translateX(120%);
    z-index: -2;
}

/* Container que contém os ribbons */
.ribbons-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    align-self: flex-end;
    max-width: 600px;
    align-items: flex-start;
    justify-content: flex-end;
    padding-bottom: clamp(3vw, 3vw + 8vh, 8vw);
}

/* Ribbon padrão */
.ribbon {
    position: relative;
    z-index: 2;
    right: clamp(5vw, 5vw + 1px, 11vw);
    display: flex;
    justify-content: flex-start;
    padding: 8px 90px 8px 25px;
    font-size: clamp(0.8rem, 1.8vw, 1.2rem);
    gap: clamp(0.1rem, 1.5vw, 1.5rem);
    font-weight: bold;
    font-family: Prociono;
    background-color: #d10101;
    text-align: left;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 10px;
}

/* Quadrado no final do ribbon */
.ribbon::after {
  position: absolute;
  left: 99%;
  top: 49.9%;
  transform: translateY(-50%);
  width: 50px;
  height: 100%;
  background-color: #d10101;
  clip-path: polygon(0% 0%, 100% 0, 45% 49%, 100% 100%, 0% 100%);
  content: '';
  z-index: 0;
}

/* Texto */
.ribbon .pre {
  color: #000;
}

.ribbon .post {
  color: #fff;
  z-index: 1;
}

/* Personalizações */

/* Primeiro ribbon */
#theme-ribbon {
  width: 70%;
}

/* Segundo ribbon deslocado */
#keywords-ribbon {
  width: 85%;
  padding-right: 5%;
}

.emblem {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -165%);
    width: clamp(180px, 15vw, 500px);
    z-index: 1;
}

.emblem-out {
    display: none;
  }

.blaze {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  pointer-events: none;
  user-select: none;
  width: clamp(70vh, 60vh + 60vw, 185vh);
}

/* Parte Responsividade */

@media (orientation: portrait) {
  
  .blaze {
    width: clamp(125vh, 145vh, 210vh);
    max-width: unset !important;
  }

  .ribbon {
    height: clamp(10px + 5vw, 2vw + 5vh, 7rem);
    font-size: clamp(15vw - 10rem, 2vw + 6px, 2vh);
    padding: 8px 45px 8px 25px;
    z-index: unset;
  }
  
   .title-n span {
       display: none;
  }
  
  .title-n {
    top: 50%;
    left: 5%;
  }

  .title-n p {
    font-size: clamp(5vw, 3vw + 6vh, 20vw);
    font-family: 'Portcullion';
    font-weight: 500;
  }
  
    .emblem-out {
        display: flex !important;
        position: absolute;
        width: clamp(25vh, 30vh + 1vw, 60vw);
        transform: translateX(-50%);
        left: 50%;
        top: -5%;
        filter: invert(1);
  }
  
  .inner-container {
        display: flex;
        justify-content: center;
        width: clamp(35vw, 30vw + 35vh, 90vw);
        height: clamp(25vw, 25vw + 20vh, 60vw);
        align-self: flex-end;
        align-items: center;
        background: #67102400;
        position: absolute;
        z-index: 0;
        padding-bottom: 12%;
  }

  .inner-container::before {
    display: none;
  }
  
  .inner-container::after {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, #A01A1A 10%, #671024 90%);
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        z-index: -1;
  }
  
  .ribbons-container {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 80px;
        width: 100%;
        align-self: flex-end;
        align-items: flex-start;
        justify-content: flex-end;
        bottom: -20px;
        left: 35px;
        padding-bottom: 0%;
  }
  
  .ribbon::before {
    position: absolute;
    right: 80%;
    top: 100%;
    transform: translateY(0%);
    width: 150px;
    height: 150px;
    background-color: #7e0101;
    content: '';
    z-index: -2; /* Agora a pseudo-classe fica atrás */
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}
  
  #theme-ribbon {
    background-color: #d10101;
    left: 25px;
    bottom: -45px;
    padding-right: 0px;
    width: clamp(25vw, 5vw + 20vh, 35vw);
  }
  
  #keywords-ribbon {
      background-color: #d10101;
      color: #f0f0f0;
      padding-right: 20px;
      left: -50px;
      bottom: 15px;
      width: clamp(25vw, 5vw + 35vh, 55vw);
  }
  
  .emblem {
    display: none;
  }
}

/* Desktop / Notebook */

@media (min-width: 1024px) and (orientation: landscape) {

  .title-n p {
    font-size: clamp(1rem + 8vh, 5vw + 4vh, 35rem);
  }

  .ribbon {
    font-size: clamp(0.5rem, 0.5vw + 1.2vh, 0.5rem + 3vh);
    height: clamp(3vw, 1vw + 5vh, 45vw);
  }

  .ribbons-container {
    gap: clamp(3vw, 3vw + 4vh, 8vw);
  }

  .emblem {
    width: clamp(2vw + 18vh, 4vw + 22vh, 26vw);
  }

  #theme-ribbon {
    width: clamp(20rem - 10vw, 15vw + 2vh, 40rem);
  }

  #keywords-ribbon {
    width: clamp(20rem - 15vw, 3vh + 25vw, 45rem);
  }
}
/* Desktop / Notebook End */

/* Tablets / Ipad */

@media (min-height: 768px) and (orientation: portrait) {

  .emblem {
    transform: translate(-50%, clamp(-55vh, -40vh, -60vh));
    width: clamp(180px, 18vw + 4vh, 500px);
  }

  .ribbon {
    font-size: clamp(0.8rem, 0.5vw + 1.5vh, 2rem);
    height: clamp(10px + 4vw, 10vw + 1vh, 5rem);
  }

  #theme-ribbon {
    width: clamp(25vw, 5vw + 20vh, 45vw);
    left: clamp(15px, 4vw + 10vh, 85px);
  }
}

/* Tablets / Ipad End */

/* Celulares */

@media (max-height: 767px) and (max-width: 985px) and (orientation: landscape) {

  .title-n p {
    font-size: clamp(1rem, 7vw, 5rem);
  }

  .emblem {
    transform: translate(-50%, clamp(-50vh, -40vh, -60vh));
    width: clamp(15vw, 15vw + 5vh, 18vw);
  }

  .ribbons-container {
    gap: clamp(30px, 5vw + 15px, 60px);
  }

  .ribbon {
    padding: 4px 50px 4px 15px;
    height: clamp(1rem, 5vw, 4rem);
    font-size: clamp(0.2rem, 1.5vw, 1.2rem);
    gap: clamp(0.1rem, 1vw, 1.5rem);  
  }

  #keywords-ribbon {
    width: 70%;
  }

  #theme-ribbon {
    width: 60%;
  }
}
/* Celulares End */

/* Parte Responsividade End */